body {
    background-color: #E6E6E6;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #FFF;
    padding: 20px;
    text-align: center;
}
button{
    background-color:#FFFF00;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.card {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.card h2 {
    font-size: 24px;
    margin-top: 0;
}
.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.grass {
    background-color: #9BCC50;
}
.fire {
    background-color: #FF9C54;
}
.water {
    background-color: #58ABF6;
}
.electric {
    background-color: #FDE53C;
}
.normal {
    background-color: #A8A77A;
}
.fighting {
    background-color: #C22E28;
}
.flying {
    background-color: #A98FF3;
}
.poison {
    background-color: #A33EA1;
}
.ground {
    background-color: #E2BF65;
}
.psychic {
    background-color: #F95587;
}
.rock {
    background-color: #B6A136;
}
.ice {
    background-color: #96D9D6;
}
.bug {
    background-color: #A6B91A;
}
.dragon {
    background-color: #6F35FC;
}
.ghost {
    background-color: #735797;
}
.dark {
    background-color: #705746;
}
.steel {
    background-color: #B7B7CE;
}
.fairy {
    background-color: #D685AD;
}
@media (min-width: 360px)and (max-width: 979px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

}